.grid {
  display: flex;

  @media(max-width: $screen-xs-max) {
    flex-direction: column;

    .grid-cell + .grid-cell {
      margin-top: 2em;
    }
  }

  &.grid--cell-spacing {
    @media(min-width: $screen-xs-min) {
      .grid-cell + .grid-cell {
        margin-left: 2em;
      }
    }
  }
}

.grid-cell {
  flex: 1;

  @for $i from 2 through 12 {
    &.grid-cell--#{$i} {
      flex: 0 0 (100 / $i)*1%;

      @media(max-width: $screen-xs-max) {
        flex: 1;
      }
    }
  }
}